PORT=3000
DATABASE_PATH=/var/lib/ae-template-site/db.sqlite
STORAGE_ROOT=/mnt/ae-templates
SCAN_ROOT=/mnt/ae-templates/imports
SITE_ORIGIN=http://127.0.0.1:3000
AUTH_SECRET=replace-with-at-least-32-random-characters
# Set COOKIE_SECURE=true when the public entrypoint is HTTPS.
COOKIE_SECURE=false
TRUST_PROXY=false
PUBLIC_ACCESS_MODE=list
